<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Untitled Document</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/bootstrap/5/darkly/bootstrap.min.css" />
  <script src="/dmxAppConnect/dmxGeolocation/dmxGeolocation.js" defer=""></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>
</head>

<body is="dmx-app" id="main">
  <footer class="bg-light wappler-block fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg p-0 fixed-bottom style2 justify-content-end bg-primary navbar-dark">
            <button class="navbar-toggler text-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-controls="collapse1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="collapse1" class="collapse navbar-collapse justify-content-around bg-primary">
              <div class="navbar-nav nav-tabs bg-primary text-white">
                <a class="nav-item nav-link text-white" href="#">Home</a>
                <a class="nav-item nav-link text-white" href="#">Home</a>
                <a class="nav-item nav-link text-white" href="#">Home</a>
                <a class="nav-item nav-link text-white" href="#">Home</a>
                <a class="nav-item nav-link text-white" href="#">Home</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </footer>
  <dmx-geolocation id="geo1"></dmx-geolocation>
  <header class="bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4">
          <nav class="navbar navbar-expand-lg navbar-light bg-primary">

            <a class="navbar-brand ms-auto" href="#">
              <img height="50" alt="Brand" src="/assets/images/Crucial Weather-logos_white.png">
            </a>
          </nav>
        </div>
        <div class="col"><input id="searchbox" name="searchbox" type="search" class="form-control"></div>
      </div>
    </div>
  </header>

  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>