<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="lumen" is="dmx-app" id="forecast" appConnect="local" -->
<dmx-serverconnect id="nwsforecastdata" url="/api/NWSForecast" dmx-param:office="session1.data.office" dmx-param:gridx="session1.data.gridx" dmx-param:gridy="session1.data.gridy"></dmx-serverconnect>
<div class="container">
    <h1 class="text-center">Forecast For {{session1.data.locationname}}</h1>
</div>
<div class="container">
    <div class="row row-cols-2" is="dmx-repeat" id="repeat1" dmx-bind:repeat="nwsforecastdata.data.api.data.properties.periods">
        <div class="col mt-3">
            <div class="card h-100 border border-2 border-primary">
                <div class="card-header text-center text-light bg-primary fw-bolder style9">{{name}}</div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{shortForecast}}</h5>
                    <div class="d-flex justify-content-center">
                        <img dmx-bind:src="icon">
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="w-100 text-center"><i class="fas fa-thermometer-half style5"></i> {{temperature}}° {{temperatureUnit}}
                        </p>
                        <p class="w-100 text-center"><i class="fas fa-wind style6"></i> {{windDirection}} @ {{windSpeed}}
                        </p>
                    </div>
                    <h5 class="card-text">{{detailedForecast}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/forecast">