<div is="dmx-browser" id="browser1"></div>
<dmx-serverconnect id="currentweatherdata" url="/api/NWSCurrent" dmx-param:lat="geo1.coords.latitude" dmx-param:long="geo1.coords.longitude" dmx-param:latlong="geo1.coords.latitude+','+geo1.coords.longitude"></dmx-serverconnect><!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="home" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBrowser:{}}" -->

<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header style4 text-center">{{currentweatherdata.data.api1.data.properties.periods[0].name+' in '+currentweatherdata.data.api.data.properties.relativeLocation.properties.city+', '+currentweatherdata.data.api.data.properties.relativeLocation.properties.state}}</div>
                <div class="card-body bg-primary">
                    <h3 class="text-center">{{currentweatherdata.data.api1.data.properties.periods[0].shortForecast}}</h3>
                    <div class="d-flex justify-content-center mb-2"><img dmx-bind:src="currentweatherdata.data.api1.data.properties.periods[0].icon" class="img-fluid rounded"></div>
                    <div class="d-flex flex-row justify-content-around mb-2">
                        <h5 class="card-text"><i class="fas fa-thermometer-half"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[0].temperature+'°'+currentweatherdata.data.api1.data.properties.periods[0].temperatureUnit}}</h5>
                        <h5 class="card-text"><i class="fas fa-wind"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[0].windDirection+' @ '+currentweatherdata.data.api1.data.properties.periods[0].windSpeed}}</h5>


                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <h5 class="card-text">{{currentweatherdata.data.api1.data.properties.periods[0].detailedForecast}} </h5>
                    </div>
                    <div class="d-flex justify-content-center">
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button id="btn1" class="btn btn-secondary btn-lg" dmx-on:click="session1.set('office',content.currentweatherdata.data.api.data.properties.gridId);session1.set('gridx',content.currentweatherdata.data.api.data.properties.gridX);session1.set('gridy',content.currentweatherdata.data.api.data.properties.gridY);session1.set('locationname',content.currentweatherdata.data.api.data.properties.relativeLocation.properties.city+', '+content.currentweatherdata.data.api.data.properties.relativeLocation.properties.state);browser1.goto('/forecast')">View Forecast</button>
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2 mb-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header style4 text-center">{{currentweatherdata.data.api1.data.properties.periods[1].name+' in '+currentweatherdata.data.api.data.properties.relativeLocation.properties.city+', '+currentweatherdata.data.api.data.properties.relativeLocation.properties.state}}</div>
                <div class="card-body bg-primary">
                    <h3 class="text-center">{{currentweatherdata.data.api1.data.properties.periods[1].shortForecast}}</h3>
                    <div class="d-flex justify-content-center mb-2"><img dmx-bind:src="currentweatherdata.data.api1.data.properties.periods[2].icon" class="img-fluid rounded"></div>
                    <div class="d-flex flex-row justify-content-around mb-2">
                        <h5 class="card-text"><i class="fas fa-thermometer-half"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[1].temperature+'°'+currentweatherdata.data.api1.data.properties.periods[1].temperatureUnit}}</h5>
                        <h5 class="card-text"><i class="fas fa-wind"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[1].windDirection+' @ '+currentweatherdata.data.api1.data.properties.periods[1].windSpeed}}</h5>


                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <h5 class="card-text">{{currentweatherdata.data.api1.data.properties.periods[1].detailedForecast}} </h5>
                    </div>
                    <div class="d-flex justify-content-center">
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h1>Hourly</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="currentweatherdata.data.nwshourly.data.properties.periods" id="tableRepeat1">
                        <tr>
                            <td dmx-text="' '+startTime.formatDate('M/dd h:mm a')"></td>
                            <td dmx-text="temperature+'°'"></td>
                            <td dmx-text="windSpeed"></td>
                            <td>
                                <a><img dmx-bind:src="icon" class="img-fluid"></a>
                            </td>
                            <td dmx-text="shortForecast"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">