<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="lumen" is="dmx-app" id="map" appConnect="local" components="{dmxPreloader:{}}" -->
<dmx-preloader id="preloader1" color="#006CE7" spinner="wave"></dmx-preloader>
<meta name="ac:route" content="/map">

<div id='printoutPanel'></div>

<div id='myMap' style='width: 100%; height: 100vh; opacity: 100%;'></div>
<script type='text/javascript'>
    function loadMapScenario() {
                            var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                                /* No need to set credentials if already passed in URL */
                                center: new Microsoft.Maps.Location(dmx.parse('session1.data.lat'), dmx.parse('session1.data.long')),
                                zoom: 9
                            });
                            // tile url from Iowa Environmental Mesonet of Iowa State University
                            var urlTemplate = 'https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/nexrad-n0q-{timestamp}/{zoom}/{x}/{y}.png';
                            var timestamps = ['900913-m50m', '900913-m45m', '900913-m40m', '900913-m35m', '900913-m30m', '900913-m25m', '900913-m20m', '900913-m15m', '900913-m10m', '900913-m05m', '900913'];
                            var tileSources = [];
                            for (var i = 0; i < timestamps.length; i++) {
                                var tileSource = new Microsoft.Maps.TileSource({
                                    uriConstructor: urlTemplate.replace('{timestamp}', timestamps[i])
                                });
                                tileSources.push(tileSource);
                            }
                            var animatedLayer = new Microsoft.Maps.AnimatedTileLayer({ mercator: tileSources, frameRate: 500 });
                            map.layers.insert(animatedLayer);
                            
                        }
    
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AukXSlfzCJfc61nlTFraKxuXwZr0hj-VnilCgGs1s-tf1SEfDJxjjrSEE9t7K7Bz&callback=loadMapScenario' async defer></script>
</body>
</div>