<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="lumen" id="map" components="{dmxPreloader:{}}" is="dmx-app" appConnect="local" -->
<div class="container">
    <div class="row">
        <div class="col">

            <head>
                <meta name="ac:route" content="/map">
                <base href="/">
                <meta charset="UTF-8">
                <title>Map</title>
                <link rel="stylesheet" href="fontawesome4/css/font-awesome.min.css" />
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <link rel="stylesheet" href="bootstrap/4/united/bootstrap.min.css" />
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
                <!-- Make sure you put this AFTER Leaflet's CSS -->
                <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
            </head>

            <div id='mapid' style='width: 100%; height: 100vh;'></div>
            <!--Your DIV must have a height!!-->

            <script>
                //LEAFLET CODE
    
    map = L.map('mapid', {doubleClickZoom: false}).locate({setView: true, maxZoom: 8});
    
    
    // Add OpenStreetMap to the map
    var basemapUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
    var basemap = L.tileLayer(basemapUrl).addTo(map);
    

    
    // Add weather radar to the map
    var radarUrl = "https://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi";
    var radarDisplayOptions = {
    layers: "nexrad-n0r-900913",
    format: "image/png",
    transparent: true
    };
    var radar = L.tileLayer.wms(radarUrl, radarDisplayOptions).addTo(map);
    
    // Get GeoJSON data from the NWS weather alerts API
    var weatherAlertsUrl = "https://api.weather.gov/alerts/active?region_type=land";
    $.getJSON(weatherAlertsUrl, function (data) {
    L.geoJSON(data, {
    // Color all alert polygons orange, but color Severe polygons red
    style: function (feature) {
    var alertColor = "orange";
    if (feature.properties.severity === "Severe") alertColor = "red";
    return { color: alertColor };
    },
    // Add a popup on each feature showing the NWS alert headline
    onEachFeature: function (feature, layer) {
    layer.bindPopup(feature.properties.headline);
    }
    }).addTo(map);
    });



function onLocationError(e) {
alert(e.message);
}

map.on('locationerror', onLocationError);
            </script>

            <script src="bootstrap/4/js/popper.min.js"></script>

            <script src="bootstrap/4/js/bootstrap.min.js"></script>

            </body>
        </div>
    </div>
</div>