<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="overview" appConnect="local" components="{dmxPreloader:{}}" -->
<meta name="ac:route" content="/overview">
<dmx-preloader id="preloader1" color="#006CE7" spinner="wave"></dmx-preloader>
<div class="container">
<div class="row">
<div class="col">
<h1 class="text-center">Current Overview</h1>
</div>
</div>
</div>
<div class="container">
<div class="row text-center">
<div class="col">
<img dmx-bind:src="'https://www.spc.noaa.gov/products/activity_loop.gif'" class="img-fluid">
</div>
</div>
</div>

