<dmx-serverconnect id="currentweatherdata" url="/api/NWSCurrent" dmx-param:lat="geo1.coords.latitude" dmx-param:long="geo1.coords.longitude" dmx-param:latlong="session1.data.location"></dmx-serverconnect><!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="darkly" is="dmx-app" id="home" appConnect="local" -->
<dmx-serverconnect id="Current_Weather" url="/api/Current" dmx-param:latlong="session1.data.location"></dmx-serverconnect>
<dmx-serverconnect id="forecastdata" url="/api/Forecast" dmx-param:latlong="session1.data.location"></dmx-serverconnect>
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header style4 text-center">{{currentweatherdata.data.api1.data.properties.periods[0].name+' in '+Current_Weather.data.api.data.location.name+', '+Current_Weather.data.api.data.location.region}}</div>
                <div class="card-body bg-primary">
                    <h3 class="text-center">{{currentweatherdata.data.api1.data.properties.periods[0].shortForecast}}</h3>
                    <div class="d-flex justify-content-center mb-2"><img dmx-bind:src="currentweatherdata.data.api1.data.properties.periods[0].icon" class="img-fluid rounded"></div>
                    <div class="d-flex flex-row justify-content-around mb-2">
                        <h5 class="card-text"><i class="fas fa-thermometer-half"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[0].temperature+'°'+currentweatherdata.data.api1.data.properties.periods[0].temperatureUnit}}</h5>
                        <h5 class="card-text"><i class="fas fa-wind"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[0].windDirection+' @ '+currentweatherdata.data.api1.data.properties.periods[0].windSpeed}}</h5>


                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <h5 class="card-text">{{currentweatherdata.data.api1.data.properties.periods[0].detailedForecast}} </h5>
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2 mb-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header style4 text-center">{{currentweatherdata.data.api1.data.properties.periods[1].name+' in '+Current_Weather.data.api.data.location.name+', '+Current_Weather.data.api.data.location.region}}</div>
                <div class="card-body bg-primary">
                    <h3 class="text-center">{{currentweatherdata.data.api1.data.properties.periods[1].shortForecast}}</h3>
                    <div class="d-flex justify-content-center mb-2"><img dmx-bind:src="currentweatherdata.data.api1.data.properties.periods[2].icon" class="img-fluid rounded"></div>
                    <div class="d-flex flex-row justify-content-around mb-2">
                        <h5 class="card-text"><i class="fas fa-thermometer-half"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[1].temperature+'°'+currentweatherdata.data.api1.data.properties.periods[1].temperatureUnit}}</h5>
                        <h5 class="card-text"><i class="fas fa-wind"></i>&nbsp;{{currentweatherdata.data.api1.data.properties.periods[1].windDirection+' @ '+currentweatherdata.data.api1.data.properties.periods[1].windSpeed}}</h5>


                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <h5 class="card-text">{{currentweatherdata.data.api1.data.properties.periods[1].detailedForecast}} </h5>
                    </div>







                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h1>Hourly</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped> <thead> <tr> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> </tr> </thead> <tbody is= text-center"="table table-striped> <thead> <tr> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> </tr> </thead> <tbody is="="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="forecastdata.data.api.data.forecast.forecastday[0].hour" id="tableRepeat2">
                        <tr>

                            <td dmx-text="time.formatDate('h:mm a')" class="style3 table-primary">

                            </td>
                            <td dmx-text="temp_f.round(0) + '°'"></td>
                            <td dmx-text="'Rain '+chance_of_rain + '%'"></td>
                            <td dmx-text="'Snow ' +chance_of_snow + '%'"></td>

                            <td class="text-start">
                                <a><img dmx-bind:src="condition.icon"></a>{{condition.text}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/search">

<!-- New Wappler Page -->