.style1 {
    font-size: 0.6em
}
p.card-text {
    low:#33855d;
    med: #eae480;
    high: #cc0000 
}
p.card-text { 
}
p.card-text { 
}
.style2 { 
}
.style3 {
    font-weight: bold
}
.style4 {
    font-size: 1.5em
}
.style5 {
    color: #375a7f
}
.style6 {
    color: #375a7f
}
.style7 {
    color: #dee3e7;
    background-color: #378dfc
}